
@media (min-width: 992px) {
  .nav-menu a {
    width: 10px;
  }
  .nav-menu a span {
    display: none;
    color: #fff;
  }
}

.nav-menu a:hover, .nav-menu .active > a, .nav-menu li:hover > a {
  color: #fff;
  background: #0563bb;

}

/* Big tablet to 1200px (widths smaller taht the 1140px row) */
@media only screen and (max-width: 1200px) {

  .row { padding: 0 2%; }

  .section-features,.section-team {
    height:100%;
  
  }

  .section-footprints{
    height:100%;
  }

  .section-asia{
    height: 100%;
  }

  .section-agile{
    height: 100%;
	}
	
	.section-advisory{
		height: 100%;
	}

	.container-section-chart{
		height: 100%;
	}

	.container-section-map
	{	height: 100%;
	}

	.section-appexchange{
		height: 100%;
	}

	.demo-components{
		height: 100%;
	}

	.section-footprints{
    height:100%;
  }

  .section-asia{
    height: 100%;
  }

  .section-agile{
    height: 100%;
  }
}

@media screen and (orientation:portrait)  {
	.tab-img-desktop{
		display:none;
	}

	.path-desktop{
		display: none;
	}
	
  /* -------------------------------- */
	/* REUSABLE COMPONENTS */
	/* -------------------------------- */

	.row {
		max-width: 375px;
		padding: 0 20px;
		margin: 0 auto !important;
	}

	section {
		padding: 80px 0px;
	}
	.box {
		padding: 1%;
	}

	.box p {
		font-size: 80%;
		line-height: 145%;
		text-align: justify;
	}

	.icon-big {
		font-size: 200%;
		display: block;
		color: #e67622;
		margin-bottom: 10px;
	}
	/* ---------- HEADINGS -------------- */

	header {
		background-image: url(img/Hero.jpg);
		background-size: cover;
		background-position: center;
		height: 100vh;
		background-attachment: fixed;
		position: relative;
	}

	h1,
	h2,
	h3 {
		font-weight: 300;
		letter-spacing: 1px;
		word-spacing: 3px;
	}

	h1 {
		margin-top: 0;
		margin-bottom: 20px;
		color: #fff;
		font-size: 200%;
	}

	h2 {
		font-size: 160%;
		word-spacing: 2px;
		text-align: center;
		margin-bottom: 30px;
		text-transform: uppercase;
		color: #0c2252;
	}

	h3 {
		font-size: 110%;
		margin-bottom: 15px;
		color: #0c2252;
		font-weight: 400;
	}

	h2:after {
		display: block;
		height: 2px;
		background-color: #bb253d;
		content: ' ';
		width: 100px;
		margin: 0 auto;
		margin-top: 30px;
	}

	/* ------ PARAGRAPHS -------- */

	.long-copy {
		line-height: 145%;
		width: 70%;
		margin-left: 15%;
		margin-right: 15%;
		text-align: justify;
	}

	.hero-text-box {
		position: absolute;
		width: 100%;
		top: 90%;
		text-align: center;
	}

	.group-mobile {
		position: absolute;
		top: 50%;
		left: 54%;
		transform: translate(-50%, -50%);
	}

	.group {
		position: absolute;
		width: 1140px;
		top: 43%;
		left: 65%;
		transform: translate(-50%, -50%);
	}

	.group-logo {
		height: 350px;
	}

	.logo {
		height: 40px;
		width: auto;
		float: left;
		margin-top: 20px;
	}

	.main-nav {
		float: right;
		list-style: none;
		margin-top: 20px;
	}

	.main-nav li {
		display: inline-block;
		margin-left: 40px;
	}

	.main-nav li a:link,
	.main-nav li a:visited {
		padding: 8px 0px;
		text-decoration: none;
		color: #fff;
		font-size: 70%;
		text-transform: uppercase;
		border-bottom: 2px solid transparent;
		transition: border-bottom 0.2s;
	}

	.main-nav li a:hover,
	.main-nav li a:active {
		border-bottom: 2px solid #0b1f52;
	}

	/* Mobile navi */
	.mobile-nav-icon {
		float: right;
		margin-top: 30px;
		cursor: pointer;
		display: none;
		background-color: rgba(255, 255, 255, 0.98);
	}

	.mobile-nav-icon i {
		font-size: 200%;
		color: #fff;
	}

	.ion-navicon-round {
		display: none;
	}

	.logo-black {
		display: none;
	}
	/* Sticky navi */
	.sticky {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		background-color: rgba(255, 255, 255, 0.98);
		box-shadow: 0 2px 2px #efefef;
		z-index: 9999;
	}

	.sticky .main-nav {
		margin-top: 18px;
	}

	.sticky .main-nav li a:link,
	.sticky .main-nav li a:visited {
		padding: 15px 0;
		color: #555;
	}

	.sticky .logo {
		display: none;
	}
	.sticky .logo-black {
		display: block;
		height: 45px;
		width: auto;
		float: left;
		margin: 5px 0;
	}

	/* ---------------- BUTTONS ----------------*/
	.btn:link,
	.btn:visited {
		display: inline-block;
		padding: 10px 30px;
		font-weight: 300;
		text-decoration: none;
		border-radius: 200px;
		transition: background-color 0.2s, border 0.2s, color 0.2s;
	}

	.btn-full:link,
	.btn-full:visited {
		color: #fff;
		background-color: #0b1f52;
		border: 1px solid #0b1f52;
		margin-right: 15px;
	}

	.btn-ghost:link,
	.btn-ghost:visited {
		border: 1px solid #0b1f52;
		color: #0b1f52;
	}

	.btn:hover,
	.btn:active {
		background-color: #133385;
		color: #fff;
	}

	.btn-full:hover,
	.btn-full:active {
		background-color: #133385;
		color: #fff;
	}

	.btn-ghost:hover,
	.btn-ghost:active {
		background-color: #133385;
		color: #fff;
	}

	/* ----------------------------------------------- */
	/* TEAM */
	/* ----------------------------------------------- */

	.section-team {
		padding: 80px 0px;
		margin-bottom: 20px;
	}

	.team-showcase {
		list-style: none;
		width: 100%;
	}

	.team-showcase li {
		display: block;
		float: left;
		width: 25%;
	}

	.team-photo {
		width: 100%;
		margin: 0;
		overflow: hidden;
		background-color: #000;
	}

	.team-photo img {
		opacity: 0.7;
		width: 100%;
		height: auto;
		-webkit-transform: scale(1.15);
		-ms-transform: scale(1.15);
		transform: scale(1.15);
		-webkit-transition: -webkit-transform 0.5s, opacity 0.5s;
		transition: transform 0.5s, opacity 0.5s;
	}

	.team-photo img:hover {
		opacity: 1;
		-webkit-transform: scale(1.03);
		-ms-transform: scale(1.03);
		transform: scale(1.03);
	}

	/* ------- Footer ------- */

	footer {
		background-color: #333;
	}

	.footer-nav {
		list-style: none;
		float: left;
	}

	.social-icons {
		list-style: none;
		float: right;
	}

	.footer-nav li {
		display: inline-block;
		margin-right: 20px;
	}

	.footer-nav li:last-child,
	.social-links li:last-child {
		margin-right: 0;
	}

	.footer-nav li a:link,
	.footer-nav li a:visited,
	.social-links li a:link,
	.social-links li a:visited {
		text-decoration: none;
		border: 0;
		color: #888;
		-webkit-transition: color 0.2s;
		transition: color 0.2s;
	}

	.footer-nav li a:hover,
	.footer-nav li a:active {
		color: #ddd;
	}

	footer p {
		color: #888;
		text-align: center;
		margin-top: 20px;
	}

	/* honeycomb */

	.image-gallery-container ul {
		list-style: none;
		display: table;
		margin: auto;
	}

	.image-gallery-container ul:not(:firstchild) {
		margin-top: -70px;
	}

	.image-gallery-container ul li {
		float: left;
	}

	.image-gallery-container .bg-image1 {
		margin: 15px;
		width: 80px;
		height: 120px;
		background-size: contain;
		background-repeat: no-repeat;
		background-position: center;
		filter: grayscale(100%);
		transition: all 0.6s ease-in-out;
	}

	.image-gallery-container ul {
		animation: r 4s forwards;
	}

	@keyframes r {
		from {
			transform: rotate(180deg);
		}
		to {
			transform: rotate(0);
		}
	}

	.image-gallery-container li,
	li-gallery-animate {
		animation: ir 4s forwards;
	}

	@keyframes ir {
		from {
			transform: rotate(-360deg);
		}
		to {
			transform: rotate(0);
		}
	}

	.hc-details {
		z-index: 999;
	}

	#hiddenDiv {
		display: none;
		background-color: white;
		padding: 20px;
		font-size: 60%;
		background-color: #0b1f52;
		color: white;
		width: 288px;
		height: 200px;
		border-radius: 20px;
	}

	.hide {
		display: none;
	}

	

	.image-gallery-container ul li:hover {
		transform: scale(1.5);
	}

	#aravind a:hover img {
		transform: scale(1.5);
		box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
	}

	/* ------ FOOT PRINTS -------------- */

	#team-content{
		display:none;
	}
	#footprint-container{
		display: none;
	}
	
	.section-footprints {

		background-color: #0c1a3d;
	}

	.footprints-header {
		color: white;
	}

	.footprint-container {
		display: flex;
		color: white;
		font-size: 100%;
		height: 80px;
		justify-content: space-evenly;
    align-items: center;
	}

	
	.footprint-details li {
		list-style: none;
		font-size: 70%;
	}
	.line,
	.line-left {
		border-top: 1px solid white;
		padding-top: 0px;
		padding-bottom: 0px;
		margin: 0 10px;
		width: 3%;
		position: relative;
	}

	.line-left:before {
		content: '';
		width: 10px;
		height: 10px;
		background: white;
		border-radius: 5px;
		position: absolute;
		top: -6px;
	}

	.line:before {
		right: 0;
	}

	.line:after {
		content: '';
		width: 10px;
		height: 10px;
		background: white;
		border-radius: 5px;
		position: absolute;
		top: -6px;
	}

	.line:after {
		right: 0;
	}

	.footprint-details,
	.footprint-right,
	.footprint-left,
	.line,
	.line-left {
		opacity: 0;
		animation-name: fadeIn;
		animation-duration: 3s;
		animation-iteration-count: 1;
		animation-fill-mode: forwards;
	}

	.footprint {
		width: 100px;
	}

	.footprint img,
	.footprint img {
		height: 80px;
		opacity: 0;
		animation-name: fadeIn;
		animation-duration: 3s;
		animation-iteration-count: 1;
		animation-fill-mode: forwards;
	}

	.left3 > img,
	.left3 {
		animation-delay: 4s;
	}

	.right3 > img,
	.right3 {
		animation-delay: 3s;
	}

	.left2 > img,
	.left2 {
		animation-delay: 6s;
	}

	.right2 > img,
	.right2 {
		animation-delay: 5s;
	}

	.left1 > img,
	.left1 {
		animation-delay: 8s;
	}

	.right1 > img,
	.right1 {
		animation-delay: 7s;
	}

	@keyframes fadeIn {
		from {
			opacity: 0;
		}

		to {
			opacity: 1;
		}
	}

	/* -------- END OF FOOT PRINTS ------------- */

	/* -------- ASIA SPECIFIC ------------------ */

	.section-asia {

		background-color: #f5f3f4;
	}

	#asia-container {
		display: flex;
		justify-content: center;
	}

	#asia-container > img {
		height: 570px;
	}

	/* -------- END OF ASIA SPECIFIC ------------------ */

	/* ------- AGILE --------------*/

	.section-agile {

		background-color: #b3414f;
	}

	.agile-container {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.agile-container > img {
		height: 400px;
	}

	#agileHiddenDiv li {
		list-style: none;
	}

	.li-black {
		color: black;
	}

	.li-white {
		color: white;
	}

	#agileHiddenDiv {
		display: none;
		background-color: white;
		padding: 20px;
		font-size: 60%;
		background-color: #0b1f52;
		color: white;
		width: 200px;
		height: 100px;
		border-radius: 10px;
	}
	/* -------- END OF AGILE -------------------*/

	/* ---------   ADVISOR --------------------*/


	.advisory-container {
	}

	.tabs-container {
		display: flex;
		justify-content: flex-start;
		align-items: center;
	}

	.inner-tab {
		width: 90px;
		padding: 20px;
		text-align: center;
		font-size: 80%;
		border: 1px solid #f2f2f2;
		border-top-left-radius: 50px;
		border-top-right-radius: 50px;
		cursor: pointer;
	}

	.tab-img-desktop{
		display:none;
	}
	.tab-detail {
		height:600px !important;
		border: 1px solid #0b1a3d;
		text-align: center;
		background-color: #ffff;
	}

	.active1 {
		background-color: #0b1a3d;
		color: white;
	}

	.hide {
		display: none;
	}

	/* ----------- END OF ADVISOR --------------- */

	/* ----------- DEMO COMPONENTS ----------- */


	.demo-container {
		margin-left: 5%;
	}

	.dc-inner-tab {
		width: 200px;
		padding: 20px;
		text-align: center;
		font-size: 80%;
		border: 1px solid #0b1a3d;
		border-top-left-radius: 50px;
		border-top-right-radius: 50px;
		cursor: pointer;
	}

	.dc-tab-detail {
		border: 1px solid #0b1a3d;
		text-align: center;
		background-color: #ffff;
		height: 400px;
		overflow-y: auto;
	}

	.dc-tab-detail li {
		padding: 10px;
	}

	.demo-feedback {
		text-align:center;
	}
	.demo-feedback img {
		height: 250px;
    object-fit: contain;
		width: 90%;
	}

	.appexchange-container  img {
		width: 90% !important;
	}

	#feedback  img {
		width: 90% !important;
	}


	/* ---------------END OF DEMO COMPONENTS --------- */
	/*--------- MAP AND METRICS -----------*/

	.map-container {
		display: flex;
		align-items: center;
		flex-direction: column;
		width: 100%;
	}

	.map {
		width: 100%;
	}

	.pointer {
		position: absolute;
		height: 10%;
		transition: all 0.5s ease-in-out;
	}

	.fit {
		width: 80%;
		text-align: center;
	}

	.pointer-container {
		position: relative;
	}

	.pointer-amer {
		left: 18%;
		top: 25%;
	}

	.pointer-emea {
		left: 52%;
		top: 10%;
	}

	.pointer-india {
		left: 70.5%;
		top: 35%;
	}

	.pointer-asia {
		left: 77%;
		top: 29%;
	}

	.pointer-anz {
		left: 92%;
		top: 75%;
	}

	.region-container {
		display: flex;
		justify-content: center;
		align-items: flex-start;
		flex-direction: column;
		padding: 5px;
		line-height: 1.8;
	}

	.region-text {
		font-size: 14px;
		font-weight: bolder;
	}

	.region-label {
		margin-left: 3%;
		margin-top: 3%;
		position: absolute;
		font-size: 14px;
		font-family: sans-serif;
		font-weight: 600;
		color: #0b1f52;
	}

	.breakdown-header {
		margin-bottom: 75px;
		color: rgb(11, 31, 82);
		font-family: inherit;
		font-weight: bold;
	}

	.hidden-region {
		background-color: #0b1f52;
		color: white;
	}

	.map-footer {
		margin-top: 100px;
		display: flex;
		flex-direction: column;
		align-items: center;
		font-size: 14px;
		line-height: 1.8;
	}

	.stats-container {
		display: flex;
		justify-content: space-evenly;
		margin-bottom: 100px;
	}

	.stats-chart-container {
		display: flex;
		justify-content: space-evenly;
		width: 90%;
		flex-wrap: wrap;
	}

	.chart-label {
		font-size: 16px;
		font-weight: bold;
		color: #0b1f52;
		margin-top: 30px;
		font-family: sans-serif;
	}

	.chart-border {
		border: 1px solid #0b1f52;
		background-color: #f3f2f2;
		padding: 20px;
	}

	.stats-custom-legend {
		font-size: 14px;
		font-weight: bold;
		font-family: sans-serif;
		color: #666666;
	}

	.stats-legend-placement {
		position: absolute;
		top: 10%;
		right: 5%;
	}

	.stats-chart {
		position: relative;
		width: 38 kw;
	}

	.container-section-map {
		height: 100%;
		display: flex;
	margin-top:20px;
	}

  #breakdown .row{
    padding:0px !important;
  }
	.container-section-chart {
		height: 100%;
	}

	/*--------- END OF MAP AND METRICS -----------*/

	/* -------- Arjun CSS -----------*/

	.intiative_section {
		text-align: center;
	}

	.intiative_section p {
		text-align: center !important;
	}

	.intiative_image {
		width: 90%;
		height: 350px;
		background: #e4e4e4;
		text-align: center;
		margin: 0 auto;
		margin-bottom: 30px;
	}

	.section_left {
		width: 15%;
		display: inline-block;
		margin: 0 auto;
		text-align: center;
		vertical-align: bottom;
		cursor: pointer;
	}

	.section_center {
		width: 100%;
		text-align: center;
		margin: 0 auto;
		display: inline-block;
	}

	.section_center_win {
		
		margin: 0 auto;
		display: inline-block;
		margin: 5px;
  }
  
  .row .win_section{
    margin: 4px;
  }

	.section_right {
		width: 14%;
		display: inline-block;
		margin: 0 auto;
		text-align: center;
		vertical-align: bottom;
		cursor: pointer;
	}

	section#intiative {
		background: url('/resources/images/intiative_bg.png');
		background-size: cover;
		background-size: contain;
		background-repeat: no-repeat;
		background-position: right;
		background-color: #f4f4f4;
	}

	section#H1Wins {
		background: url('/resources/images/logos_bg.png');
		background-size: cover;
		background-repeat: no-repeat;
		background-position: right;
		background-color: #f4f4f4;
	}

	.flying_text {
		position: relative;
		display: inline-block;
    top: -53px;
    left: -186px;
		font-size: 15px;
		font-weight: bold;
		color: white;
		line-height: 23px;
	}
	.einstein_flying {
		line-height: 2em;
		color: #fff;
		-webkit-transition: 1s bottom, 4s 1s left cubic-bezier(0, 1, 1, 1);
		-moz-transition: 1s bottom, 4s 1s left cubic-bezier(0, 1, 1, 1);
		-o-transition: 1s bottom, 4s 1s left cubic-bezier(0, 1, 1, 1);
		transition: 1s bottom, 4s 1s left cubic-bezier(0, 1, 1, 1);
	}

	.einstein_row {
		padding-top: 0px !important;
    padding-bottom: 0px !important;
    height: 120px;
  }
  
	.row.win_section {
		text-align: center;
		border: 1px solid #c3c3c3;
		border-radius: 4px;
	}

	.logo_region {
		font-size: 21px;
		font-weight: bold;
		color: #333333;
	}

	.logo_img {
		margin-top: 15px;
	}

	.mySlides {
		display: none;
	}
	img {
		vertical-align: middle;
	}

	/* Slideshow container */
	.slideshow-container {
		max-width: 1000px;
		position: relative;
		margin: auto;
	}

	/* Next & previous buttons */
	.prev,
	.next {
		cursor: pointer;
		position: absolute;
		top: 50%;
		width: auto;
		padding: 16px;
		margin-top: -22px;
		color: white;
		font-weight: bold;
		font-size: 18px;
		transition: 0.6s ease;
		border-radius: 0 3px 3px 0;
		user-select: none;
	}

	/* Position the "next button" to the right */
	.next {
		right: 0;
		border-radius: 3px 0 0 3px;
	}

	/* On hover, add a black background color with a little bit see-through */
	.prev:hover,
	.next:hover {
		background-color: rgba(0, 0, 0, 0.8);
	}

	/* Caption text */
	.text {
		color: #f2f2f2;
		font-size: 15px;
		padding: 8px 12px;
		position: absolute;
		bottom: 8px;
		width: 100%;
		text-align: center;
	}

	/* Number text (1/3 etc) */
	.numbertext {
		color: #f2f2f2;
		font-size: 12px;
		padding: 8px 12px;
		position: absolute;
		top: 0;
	}

	/* The dots/bullets/indicators */
	.dot {
		cursor: pointer;
		height: 7px;
		width: 7px;
		margin: 0 2px;
		background-color: #bbb;
		border-radius: 50%;
		display: inline-block;
		transition: background-color 0.6s ease;
	}

	.active,
	.dot:hover {
		background-color: #717171;
	}

	/* Fading animation */
	.fade {
		-webkit-animation-name: fade;
		-webkit-animation-duration: 1.5s;
		animation-name: fade;
		animation-duration: 1.5s;
	}

	@-webkit-keyframes fade {
		from {
			opacity: 0.4;
		}
		to {
			opacity: 1;
		}
	}

	@keyframes fade {
		from {
			opacity: 0.4;
		}
		to {
			opacity: 1;
		}
	}

	@keyframes slideInFromLeft {
		0% {
			transform: translateX(-100%);
		}
		100% {
			transform: translateX(0);
		}
	}

	.flying_image {
		/* This section calls the slideInFromLeft animation we defined above */
		animation: 25s ease-out 0s 1 slideInFromLeft;
	}

	#einstein_flying {
		padding-bottom: 30px;
		text-align: right;
	}

	/* ------- APP EXCHANGE -------- */

	.section-appexchange {

		background-color: #08122c;
	}

	.appexchange-container {
		display: flex;
		justify-content: center;
	}

	/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
	.back-to-top {
		position: fixed;
		display: none;
		width: 40px;
		height: 40px;
		border-radius: 50px;
		right: 15px;
		bottom: 15px;
		background: #08122c;
		color: #fff;
		transition: display 0.5s ease-in-out;
		z-index: 99999;
	}

	.back-to-top i {
		font-size: 24px;
		position: absolute;
		top: 7px;
		left: 8px;
	}

	.back-to-top:hover {
		color: #fff;
		background: #08122c;
		transition: background 0.2s ease-in-out;
	}

	#preloader {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 9999;
		overflow: hidden;
		background: #fff;
	}

	#preloader:before {
		content: '';
		position: fixed;
		top: calc(50% - 30px);
		left: calc(50% - 30px);
		border: 6px solid #0563bb;
		border-top-color: #fff;
		border-bottom-color: #fff;
		border-radius: 50%;
		width: 60px;
		height: 60px;
		-webkit-animation: animate-preloader 1s linear infinite;
		animation: animate-preloader 1s linear infinite;
	}

	@-webkit-keyframes animate-preloader {
		0% {
			transform: rotate(0deg);
		}
		100% {
			transform: rotate(360deg);
		}
	}

	@keyframes animate-preloader {
		0% {
			transform: rotate(0deg);
		}
		100% {
			transform: rotate(360deg);
		}
	}

	.nav-menu * {
		margin: 0;
		padding: 0;
		list-style: none;
	}

	.nav-menu > ul > li {
		position: relative;
		white-space: nowrap;
	}

	.nav-menu a {
		display: flex;
		align-items: center;
		color: #45505b;
		/*padding: 10px 18px;*/
		margin-bottom: 8px;
		transition: 0.3s;
		font-size: 15px;
		border-radius: 50px;
		background: #f2f3f5;
		height: 10px;
		width: 100%;
		overflow: hidden;
		transition: 0.3s;
	}

	.nav-menu a i {
		font-size: 20px;
	}

	.nav-menu a span {
		padding: 0 5px 0 7px;
		color: #45505b;
	}
	.nav-menu a:hover,
	.nav-menu .active-menu > a,
	.nav-menu li:hover > a {
		color: #fff;
		background: #0563bb;
	}

	#header {
		position: fixed;
		top: 0;
		left: 0;
		bottom: 0;
		z-index: 9997;
		transition: all 0.5s;
		padding: 15px;
		overflow-y: auto;
		background: none;
	}

	.justify-content-center {
		-ms-flex-pack: center !important;
		justify-content: center !important;
	}
	.flex-column {
		-ms-flex-direction: column !important;
		flex-direction: column !important;
	}
	.d-flex {
		display: -ms-flexbox !important;
		display: flex !important;
	}
	
	body { font-size: 16px; }
  .section-features,.section-team {
    height:100%;
  
  }

  
  section { padding: 30px 0; }
  .group{
    display:none;
}

.group-mobile{
    display:block;
}
  .row,
  .hero-text-box { padding: 0 4%; }
  .col { 
      width: 100%;
      margin: 0 0 4% 0;
  }
  
  
  .main-nav { display: none; }
  .mobile-nav-icon {display: inline-block;}
  
  .main-nav {
      float: left;
      margin-top: 30px;
      margin-left: 25px;
  }
  
  .main-nav li {
      display: block;
  }
  
  .main-nav li a:link,
  .main-nav li a:visited {
      display: block;
      border: 0;
      padding: 10px 0;
      font-size: 100%;
  }
  
  .sticky .main-nav { margin-top: 10px; }

  .sticky .main-nav li a:link,
  .sticky .main-nav li a:visited { padding: 10px 0; }
  .sticky .mobile-nav-icon { margin-top: 10px; }
  .sticky .mobile-nav-icon i { color: #555; }
  
  
  
  h1 { font-size: 180%; }
  h2 { font-size: 150%; }
  
  .long-copy {
      width: 100%;
      margin-left: 0%;
  }
  
  .app-screen { width: 40%; }
  .steps-box:first-child { text-align: center; }
  
  .works-step div {
      height: 40px;
      width: 40px;
      margin-right: 15px;
      padding: 4px;
      font-size: 120%;
  }
  
  .works-step { margin-bottom: 20px; }
  .works-step:last-of-type { margin-bottom: 20px; }
	
	.q-logo{
		display:none;
	}
	.survey-col1 img{
		
		width:90%;
		object-fit:contain;
	}

	.survey-col2 img{
		
		width:90%;
		object-fit:contain;
	}

	.teamup{
		padding:5px;
		height:40px;
		width:40px;
		object-fit:contain;
	}

	#teamup1{
		transform:scale(1.3);
		margin-left:13px;
	}

	#impact-img{
		padding-top:50px;
		text-align:center;
	}

	#impact-img img{
    width:300px;
	}

}

@media (min-width:751px) and (max-width:1023px) {

		.agile-mobile{
		display:none;
	}
	.tab-img-mobile{
		display: none;
	}

	.tab-img-desktop{
		display:block;
	}
  /* -------------------------------- */
	/* REUSABLE COMPONENTS */
	/* -------------------------------- */

	.row {
	
		padding: 0 20px;
		margin: 0 auto !important;
	}

	section {
		padding: 80px 0px;
	}
	.box {
		padding: 1%;
	}

	.box p {
		font-size: 80%;
		line-height: 145%;
		text-align: justify;
	}

	.icon-big {
		font-size: 200%;
		display: block;
		color: #e67622;
		margin-bottom: 10px;
	}
	/* ---------- HEADINGS -------------- */

	header {
		background-image: url(img/Hero.jpg);
		background-size: cover;
		background-position: center;
		height: 100vh;
		background-attachment: fixed;
		position: relative;
	}

	h1,
	h2,
	h3 {
		font-weight: 300;
		letter-spacing: 1px;
		word-spacing: 3px;
	}

	h1 {
		margin-top: 0;
		margin-bottom: 20px;
		color: #fff;
		font-size: 200%;
	}

	h2 {
		font-size: 160%;
		word-spacing: 2px;
		text-align: center;
		margin-bottom: 30px;
		text-transform: uppercase;
		color: #0c2252;
	}

	h3 {
		font-size: 110%;
		margin-bottom: 15px;
		color: #0c2252;
		font-weight: 400;
	}

	h2:after {
		display: block;
		height: 2px;
		background-color: #bb253d;
		content: ' ';
		width: 100px;
		margin: 0 auto;
		margin-top: 30px;
	}

	/* ------ PARAGRAPHS -------- */

	.long-copy {
		line-height: 145%;
		width: 70%;
		margin-left: 15%;
		margin-right: 15%;
		text-align: justify;
	}

	.hero-text-box {
		position: absolute;
		width: 100%;
		top: 90%;
		text-align: center;
	}

	.group-mobile {
		position: absolute;
		top: 50%;
		left: 54%;
		transform: translate(-50%, -50%);
	}

	.group {
		position: absolute;
		width: 1140px;
		top: 43%;
		left: 65%;
		transform: translate(-50%, -50%);
	}

	.group-logo {
		height: 350px;
	}

	.logo {
		height: 40px;
		width: auto;
		float: left;
		margin-top: 20px;
	}

	.main-nav {
		float: right;
		list-style: none;
		margin-top: 20px;
	}

	.main-nav li {
		display: inline-block;
		margin-left: 40px;
	}

	.main-nav li a:link,
	.main-nav li a:visited {
		padding: 8px 0px;
		text-decoration: none;
		color: #fff;
		font-size: 70%;
		text-transform: uppercase;
		border-bottom: 2px solid transparent;
		transition: border-bottom 0.2s;
	}

	.main-nav li a:hover,
	.main-nav li a:active {
		border-bottom: 2px solid #0b1f52;
	}

	/* Mobile navi */
	.mobile-nav-icon {
		float: right;
		margin-top: 30px;
		cursor: pointer;
		display: none;
		background-color: rgba(255, 255, 255, 0.98);
	}

	.mobile-nav-icon i {
		font-size: 200%;
		color: #fff;
	}

	.ion-navicon-round {
		display: none;
	}

	.logo-black {
		display: none;
	}
	/* Sticky navi */
	.sticky {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		background-color: rgba(255, 255, 255, 0.98);
		box-shadow: 0 2px 2px #efefef;
		z-index: 9999;
	}

	.sticky .main-nav {
		margin-top: 18px;
	}

	.sticky .main-nav li a:link,
	.sticky .main-nav li a:visited {
		padding: 15px 0;
		color: #555;
	}

	.sticky .logo {
		display: none;
	}
	.sticky .logo-black {
		display: block;
		height: 45px;
		width: auto;
		float: left;
		margin: 5px 0;
	}

	/* ---------------- BUTTONS ----------------*/
	.btn:link,
	.btn:visited {
		display: inline-block;
		padding: 10px 30px;
		font-weight: 300;
		text-decoration: none;
		border-radius: 200px;
		transition: background-color 0.2s, border 0.2s, color 0.2s;
	}

	.btn-full:link,
	.btn-full:visited {
		color: #fff;
		background-color: #0b1f52;
		border: 1px solid #0b1f52;
		margin-right: 15px;
	}

	.btn-ghost:link,
	.btn-ghost:visited {
		border: 1px solid #0b1f52;
		color: #0b1f52;
	}

	.btn:hover,
	.btn:active {
		background-color: #133385;
		color: #fff;
	}

	.btn-full:hover,
	.btn-full:active {
		background-color: #133385;
		color: #fff;
	}

	.btn-ghost:hover,
	.btn-ghost:active {
		background-color: #133385;
		color: #fff;
	}

	/* ----------------------------------------------- */
	/* TEAM */
	/* ----------------------------------------------- */

	.section-team {
		padding: 80px 0px;
		margin-bottom: 20px;
	}

	.team-showcase {
		list-style: none;
		width: 100%;
	}

	.team-showcase li {
		display: block;
		float: left;
		width: 25%;
	}

	.team-photo {
		width: 100%;
		margin: 0;
		overflow: hidden;
		background-color: #000;
	}

	.team-photo img {
		opacity: 0.7;
		width: 100%;
		height: auto;
		-webkit-transform: scale(1.15);
		-ms-transform: scale(1.15);
		transform: scale(1.15);
		-webkit-transition: -webkit-transform 0.5s, opacity 0.5s;
		transition: transform 0.5s, opacity 0.5s;
	}

	.team-photo img:hover {
		opacity: 1;
		-webkit-transform: scale(1.03);
		-ms-transform: scale(1.03);
		transform: scale(1.03);
	}

	/* ------- Footer ------- */

	footer {
		background-color: #333;
	}

	.footer-nav {
		list-style: none;
		float: left;
	}

	.social-icons {
		list-style: none;
		float: right;
	}

	.footer-nav li {
		display: inline-block;
		margin-right: 20px;
	}

	.footer-nav li:last-child,
	.social-links li:last-child {
		margin-right: 0;
	}

	.footer-nav li a:link,
	.footer-nav li a:visited,
	.social-links li a:link,
	.social-links li a:visited {
		text-decoration: none;
		border: 0;
		color: #888;
		-webkit-transition: color 0.2s;
		transition: color 0.2s;
	}

	.footer-nav li a:hover,
	.footer-nav li a:active {
		color: #ddd;
	}

	footer p {
		color: #888;
		text-align: center;
		margin-top: 20px;
	}

	/* honeycomb */

	.image-gallery-container ul {
		list-style: none;
		display: table;
		margin: auto;
	}

	.image-gallery-container ul:not(:firstchild) {
		margin-top: -70px;
	}

	.image-gallery-container ul li {
		float: left;
	}

	.image-gallery-container .bg-image1 {
		margin: 15px;
		width: 80px;
		height: 120px;
		background-size: contain;
		background-repeat: no-repeat;
		background-position: center;
		filter: grayscale(100%);
		transition: all 0.6s ease-in-out;
	}

	.image-gallery-container ul {
		animation: r 4s forwards;
	}

	@keyframes r {
		from {
			transform: rotate(180deg);
		}
		to {
			transform: rotate(0);
		}
	}

	.image-gallery-container li,
	li-gallery-animate {
		animation: ir 4s forwards;
	}

	@keyframes ir {
		from {
			transform: rotate(-360deg);
		}
		to {
			transform: rotate(0);
		}
	}

	.hc-details {
		z-index: 999;
	}

	#hiddenDiv {
		display: none;
		background-color: white;
		padding: 20px;
		font-size: 60%;
		background-color: #0b1f52;
		color: white;
		width: 288px;
		height: 200px;
		border-radius: 20px;
	}

	.hide {
		display: none;
	}

	

	.image-gallery-container ul li:hover {
		transform: scale(1.5);
	}

	#aravind a:hover img {
		transform: scale(1.5);
		box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
	}

	/* ------ FOOT PRINTS -------------- */

	#team-content{
		display:none;
	}
	#footprint-container{
		display: none;
	}
	
	.section-footprints {

		background-color: #0c1a3d;
	}

	.footprints-header {
		color: white;
	}

	.footprint-container {
		display: flex;
		color: white;
		font-size: 100%;
		height: 80px;
		justify-content: space-evenly;
    align-items: center;
	}

	
	.footprint-details li {
		list-style: none;
		font-size: 70%;
	}
	.line,
	.line-left {
		border-top: 1px solid white;
		padding-top: 0px;
		padding-bottom: 0px;
		margin: 0 10px;
		width: 3%;
		position: relative;
	}

	.line-left:before {
		content: '';
		width: 10px;
		height: 10px;
		background: white;
		border-radius: 5px;
		position: absolute;
		top: -6px;
	}

	.line:before {
		right: 0;
	}

	.line:after {
		content: '';
		width: 10px;
		height: 10px;
		background: white;
		border-radius: 5px;
		position: absolute;
		top: -6px;
	}

	.line:after {
		right: 0;
	}

	.footprint-details,
	.footprint-right,
	.footprint-left,
	.line,
	.line-left {
		opacity: 0;
		animation-name: fadeIn;
		animation-duration: 3s;
		animation-iteration-count: 1;
		animation-fill-mode: forwards;
	}

	.footprint {
		width: 100px;
	}

	.footprint img,
	.footprint img {
		height: 80px;
		opacity: 0;
		animation-name: fadeIn;
		animation-duration: 3s;
		animation-iteration-count: 1;
		animation-fill-mode: forwards;
	}

	.left3 > img,
	.left3 {
		animation-delay: 4s;
	}

	.right3 > img,
	.right3 {
		animation-delay: 3s;
	}

	.left2 > img,
	.left2 {
		animation-delay: 6s;
	}

	.right2 > img,
	.right2 {
		animation-delay: 5s;
	}

	.left1 > img,
	.left1 {
		animation-delay: 8s;
	}

	.right1 > img,
	.right1 {
		animation-delay: 7s;
	}

	@keyframes fadeIn {
		from {
			opacity: 0;
		}

		to {
			opacity: 1;
		}
	}

	/* -------- END OF FOOT PRINTS ------------- */

	/* -------- ASIA SPECIFIC ------------------ */

	.section-asia {

		background-color: #f5f3f4;
	}

	#asia-container {
		display: flex;
		justify-content: center;
	}

	#asia-container > img {
		height: 570px;
	}

	/* -------- END OF ASIA SPECIFIC ------------------ */

	/* ------- AGILE --------------*/

	.section-agile {

		background-color: #b3414f;
	}

	.agile-container {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.agile-container > img {
		height: 400px;
	}

	#agileHiddenDiv li {
		list-style: none;
	}

	.li-black {
		color: black;
	}

	.li-white {
		color: white;
	}

	#agileHiddenDiv {
		display: none;
		background-color: white;
		padding: 20px;
		font-size: 60%;
		background-color: #0b1f52;
		color: white;
		width: 200px;
		height: 100px;
		border-radius: 10px;
	}
	/* -------- END OF AGILE -------------------*/

	/* ---------   ADVISOR --------------------*/


	.advisory-container {
	}

	.tabs-container {
		display: flex;
		justify-content: flex-start;
		align-items: center;
	}

	.inner-tab {
		width: 200px;
		padding: 20px;
		text-align: center;
		font-size: 80%;
		border: 1px solid #f2f2f2;
		border-top-left-radius: 50px;
		border-top-right-radius: 50px;
		cursor: pointer;
	}

	.tab-detail {
		border: 1px solid #0b1a3d;
		text-align: center;
		background-color: #ffff;
	}

	.active1 {
		background-color: #0b1a3d;
		color: white;
	}

	.hide {
		display: none;
	}

	/* ----------- END OF ADVISOR --------------- */

	/* ----------- DEMO COMPONENTS ----------- */


	.demo-container {
		margin-left: 5%;
	}

	.dc-inner-tab {
		width: 200px;
		padding: 20px;
		text-align: center;
		font-size: 80%;
		border: 1px solid #0b1a3d;
		border-top-left-radius: 50px;
		border-top-right-radius: 50px;
		cursor: pointer;
	}

	.dc-tab-detail {
		border: 1px solid #0b1a3d;
		text-align: center;
		background-color: #ffff;
		height: 400px;
		overflow-y: auto;
	}

	.dc-tab-detail li {
		padding: 10px;
	}

	.demo-feedback {
		text-align:center;
	}
	.demo-feedback img {
		height: 250px;
    object-fit: contain;
		width: 90%;
	}

	.appexchange-container  img {
		width: 90% !important;
	}

	#feedback  img {
		width: 90% !important;
	}

	/* ---------------END OF DEMO COMPONENTS --------- */
	/*--------- MAP AND METRICS -----------*/

	.map-container {
		display: flex;
		align-items: center;
		flex-direction: column;
		width: 100%;
	}

	.map {
		width: 100%;
	}

	.pointer {
		position: absolute;
		height: 10%;
		transition: all 0.5s ease-in-out;
	}

	.fit {
		width: 80%;
		text-align: center;
	}

	.pointer-container {
		position: relative;
	}

	.pointer-amer {
		left: 18%;
		top: 25%;
	}

	.pointer-emea {
		left: 52%;
		top: 10%;
	}

	.pointer-india {
		left: 70.5%;
		top: 35%;
	}

	.pointer-asia {
		left: 77%;
		top: 29%;
	}

	.pointer-anz {
		left: 92%;
		top: 75%;
	}

	.region-container {
		display: flex;
		justify-content: center;
		align-items: flex-start;
		flex-direction: column;
		padding: 5px;
		line-height: 1.8;
	}

	.region-text {
		font-size: 14px;
		font-weight: bolder;
	}

	.region-label {
		margin-left: 3%;
		margin-top: 3%;
		position: absolute;
		font-size: 14px;
		font-family: sans-serif;
		font-weight: 600;
		color: #0b1f52;
	}

	.breakdown-header {
		margin-bottom: 75px;
		color: rgb(11, 31, 82);
		font-family: inherit;
		font-weight: bold;
	}

	.hidden-region {
		background-color: #0b1f52;
		color: white;
	}

	.map-footer {
		margin-top: 100px;
		display: flex;
		flex-direction: column;
		align-items: center;
		font-size: 14px;
		line-height: 1.8;
	}

	.stats-container {
		display: flex;
		justify-content: space-evenly;
		margin-bottom: 100px;
	}

	.stats-chart-container {
		display: flex;
		justify-content: space-evenly;
		width: 90%;
		flex-wrap: wrap;
	}

	.chart-label {
		font-size: 16px;
		font-weight: bold;
		color: #0b1f52;
		margin-top: 30px;
		font-family: sans-serif;
	}

	.chart-border {
		border: 1px solid #0b1f52;
		background-color: #f3f2f2;
		padding: 20px;
	}

	.stats-custom-legend {
		font-size: 14px;
		font-weight: bold;
		font-family: sans-serif;
		color: #666666;
	}

	.stats-legend-placement {
		position: absolute;
		top: 10%;
		right: 5%;
	}

	.stats-chart {
		position: relative;
		width: 38 kw;
	}

	.container-section-map {
		height: 100%;
		display: flex;
	margin-top:20px;
	}

  #breakdown .row{
    padding:0px !important;
  }
	.container-section-chart {
		height: 100%;
	}

	/*--------- END OF MAP AND METRICS -----------*/

	/* -------- Arjun CSS -----------*/

	.intiative_section {
		text-align: center;
	}

	.intiative_section p {
		text-align: center !important;
	}

	.intiative_image {
		width: 90%;
		height: 350px;
		background: #e4e4e4;
		text-align: center;
		margin: 0 auto;
		margin-bottom: 30px;
	}

	.section_left {
		width: 15%;
		display: inline-block;
		margin: 0 auto;
		text-align: center;
		vertical-align: bottom;
		cursor: pointer;
	}

	.section_center {
		width: 100%;
		text-align: center;
		margin: 0 auto;
		display: inline-block;
	}

	.section_center_win {
		
		margin: 0 auto;
		display: inline-block;
		margin: 5px;
  }
  
  .row .win_section{
    margin: 4px;
  }

	.section_right {
		width: 14%;
		display: inline-block;
		margin: 0 auto;
		text-align: center;
		vertical-align: bottom;
		cursor: pointer;
	}

	section#intiative {
		background: url('/resources/images/intiative_bg.png');
		background-size: cover;
		background-size: contain;
		background-repeat: no-repeat;
		background-position: right;
		background-color: #f4f4f4;
	}

	section#H1Wins {
		background: url('/resources/images/logos_bg.png');
		background-size: cover;
		background-repeat: no-repeat;
		background-position: right;
		background-color: #f4f4f4;
	}

	.flying_text {
		position: relative;
		display: inline-block;
    top: -53px;
    left: -186px;
		font-size: 15px;
		font-weight: bold;
		color: white;
		line-height: 23px;
	}
	.einstein_flying {
		line-height: 2em;
		color: #fff;
		-webkit-transition: 1s bottom, 4s 1s left cubic-bezier(0, 1, 1, 1);
		-moz-transition: 1s bottom, 4s 1s left cubic-bezier(0, 1, 1, 1);
		-o-transition: 1s bottom, 4s 1s left cubic-bezier(0, 1, 1, 1);
		transition: 1s bottom, 4s 1s left cubic-bezier(0, 1, 1, 1);
	}

	.einstein_row {
		padding-top: 0px !important;
    padding-bottom: 0px !important;
    height: 120px;
  }
  
	.row.win_section {
		text-align: center;
		border: 1px solid #c3c3c3;
		border-radius: 4px;
	}

	.logo_region {
		font-size: 21px;
		font-weight: bold;
		color: #333333;
	}

	.logo_img {
		margin-top: 15px;
	}

	.mySlides {
		display: none;
	}
	img {
		vertical-align: middle;
	}

	/* Slideshow container */
	.slideshow-container {
		max-width: 1000px;
		position: relative;
		margin: auto;
	}

	/* Next & previous buttons */
	.prev,
	.next {
		cursor: pointer;
		position: absolute;
		top: 50%;
		width: auto;
		padding: 16px;
		margin-top: -22px;
		color: white;
		font-weight: bold;
		font-size: 18px;
		transition: 0.6s ease;
		border-radius: 0 3px 3px 0;
		user-select: none;
	}

	/* Position the "next button" to the right */
	.next {
		right: 0;
		border-radius: 3px 0 0 3px;
	}

	/* On hover, add a black background color with a little bit see-through */
	.prev:hover,
	.next:hover {
		background-color: rgba(0, 0, 0, 0.8);
	}

	/* Caption text */
	.text {
		color: #f2f2f2;
		font-size: 15px;
		padding: 8px 12px;
		position: absolute;
		bottom: 8px;
		width: 100%;
		text-align: center;
	}

	/* Number text (1/3 etc) */
	.numbertext {
		color: #f2f2f2;
		font-size: 12px;
		padding: 8px 12px;
		position: absolute;
		top: 0;
	}

	/* The dots/bullets/indicators */
	.dot {
		cursor: pointer;
		height: 7px;
		width: 7px;
		margin: 0 2px;
		background-color: #bbb;
		border-radius: 50%;
		display: inline-block;
		transition: background-color 0.6s ease;
	}

	.active,
	.dot:hover {
		background-color: #717171;
	}

	/* Fading animation */
	.fade {
		-webkit-animation-name: fade;
		-webkit-animation-duration: 1.5s;
		animation-name: fade;
		animation-duration: 1.5s;
	}

	@-webkit-keyframes fade {
		from {
			opacity: 0.4;
		}
		to {
			opacity: 1;
		}
	}

	@keyframes fade {
		from {
			opacity: 0.4;
		}
		to {
			opacity: 1;
		}
	}

	@keyframes slideInFromLeft {
		0% {
			transform: translateX(-100%);
		}
		100% {
			transform: translateX(0);
		}
	}

	.flying_image {
		/* This section calls the slideInFromLeft animation we defined above */
		animation: 25s ease-out 0s 1 slideInFromLeft;
	}

	#einstein_flying {
		padding-bottom: 30px;
		text-align: right;
	}

	/* ------- APP EXCHANGE -------- */

	.section-appexchange {

		background-color: #08122c;
	}

	.appexchange-container {
		display: flex;
		justify-content: center;
	}

	/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
	.back-to-top {
		position: fixed;
		display: none;
		width: 40px;
		height: 40px;
		border-radius: 50px;
		right: 15px;
		bottom: 15px;
		background: #08122c;
		color: #fff;
		transition: display 0.5s ease-in-out;
		z-index: 99999;
	}

	.back-to-top i {
		font-size: 24px;
		position: absolute;
		top: 7px;
		left: 8px;
	}

	.back-to-top:hover {
		color: #fff;
		background: #08122c;
		transition: background 0.2s ease-in-out;
	}

	#preloader {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 9999;
		overflow: hidden;
		background: #fff;
	}

	#preloader:before {
		content: '';
		position: fixed;
		top: calc(50% - 30px);
		left: calc(50% - 30px);
		border: 6px solid #0563bb;
		border-top-color: #fff;
		border-bottom-color: #fff;
		border-radius: 50%;
		width: 60px;
		height: 60px;
		-webkit-animation: animate-preloader 1s linear infinite;
		animation: animate-preloader 1s linear infinite;
	}

	@-webkit-keyframes animate-preloader {
		0% {
			transform: rotate(0deg);
		}
		100% {
			transform: rotate(360deg);
		}
	}

	@keyframes animate-preloader {
		0% {
			transform: rotate(0deg);
		}
		100% {
			transform: rotate(360deg);
		}
	}

	.nav-menu * {
		margin: 0;
		padding: 0;
		list-style: none;
	}

	.nav-menu > ul > li {
		position: relative;
		white-space: nowrap;
	}

	.nav-menu a {
		display: flex;
		align-items: center;
		color: #45505b;
		/*padding: 10px 18px;*/
		margin-bottom: 8px;
		transition: 0.3s;
		font-size: 15px;
		border-radius: 50px;
		background: #f2f3f5;
		height: 10px;
		width: 100%;
		overflow: hidden;
		transition: 0.3s;
	}

	.nav-menu a i {
		font-size: 20px;
	}

	.nav-menu a span {
		padding: 0 5px 0 7px;
		color: #45505b;
	}
	.nav-menu a:hover,
	.nav-menu .active-menu > a,
	.nav-menu li:hover > a {
		color: #fff;
		background: #0563bb;
	}

	#header {
		position: fixed;
		top: 0;
		left: 0;
		bottom: 0;
		z-index: 9997;
		transition: all 0.5s;
		padding: 15px;
		overflow-y: auto;
		background: none;
	}

	.justify-content-center {
		-ms-flex-pack: center !important;
		justify-content: center !important;
	}
	.flex-column {
		-ms-flex-direction: column !important;
		flex-direction: column !important;
	}
	.d-flex {
		display: -ms-flexbox !important;
		display: flex !important;
	}
	
	body { font-size: 16px; }
  .section-features,.section-team {
    height:100%;
  
  }

  
  section { padding: 30px 0; }
  .group{
    display:none;
}

.group-mobile{
    display:block;
}
  .row,
  .hero-text-box { padding: 0 4%; }
  .col { 
      width: 100%;
      margin: 0 0 4% 0;
  }
  
  
  .main-nav { display: none; }
  .mobile-nav-icon {display: inline-block;}
  
  .main-nav {
      float: left;
      margin-top: 30px;
      margin-left: 25px;
  }
  
  .main-nav li {
      display: block;
  }
  
  .main-nav li a:link,
  .main-nav li a:visited {
      display: block;
      border: 0;
      padding: 10px 0;
      font-size: 100%;
  }
  
  .sticky .main-nav { margin-top: 10px; }

  .sticky .main-nav li a:link,
  .sticky .main-nav li a:visited { padding: 10px 0; }
  .sticky .mobile-nav-icon { margin-top: 10px; }
  .sticky .mobile-nav-icon i { color: #555; }
  
  
  
  h1 { font-size: 180%; }
  h2 { font-size: 150%; }
  
  .long-copy {
      width: 100%;
      margin-left: 0%;
  }
  
  .app-screen { width: 40%; }
  .steps-box:first-child { text-align: center; }
  
  .works-step div {
      height: 40px;
      width: 40px;
      margin-right: 15px;
      padding: 4px;
      font-size: 120%;
  }
  
  .works-step { margin-bottom: 20px; }
  .works-step:last-of-type { margin-bottom: 20px; }
	
	.q-logo{
		display:none;
	}
	.survey-col1 img{
		
		width:90%;
		object-fit:contain;
	}

	.survey-col2 img{
		
		width:90%;
		object-fit:contain;
	}

	.teamup{
		padding:5px;
		height:40px;
		width:40px;
		object-fit:contain;
	}

	#teamup1{
		transform:scale(1.3);
		margin-left:13px;
	}

	#impact-img{
		padding-top:50px;
		text-align: center;
	}

	#impact-img img{
		width:500px;
	}

}





