/* -------------------------------- */
/* BASIC SETUP */
/* -------------------------------- */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  background-color: #fff;
  color: #555;
  font-family: 'Lato', 'Arial', sans-serif;
  font-weight: 300;
  font-size: 20px;
  text-rendering: optimizeLegibility;
  overflow-x: hidden;
  position:relative;
}

.clearfix {zoom: 1;}
.clearfix:after {
  content: '.';
  clear: both;
  display: block;
  height: 0;
  visibility: hidden;
}

/* -------------------------------- */
/* REUSABLE COMPONENTS */
/* -------------------------------- */

.row {
  max-width: 1640px;
  padding: 0 20px;
  margin: 0 auto;
}

section{
  padding: 80px 0px;
}
.box {
  padding: 1%;
}

.box p{
  font-size: 80%;
  line-height:145%;
  text-align: justify;
  
}

.icon-big{
  font-size: 200%;
  display:block;
  color:#e67622;
  margin-bottom: 10px;

}
/* ---------- HEADINGS -------------- */

header {
  background-image: url(img/Hero.jpg );
  background-size: cover;
  background-position: center;
  height: 100vh;
  background-attachment: fixed;
  position:relative;
}

h1,
h2,
h3{
  font-weight: 300;
  letter-spacing: 1px;
  word-spacing: 3px;
}

h1 {
  margin-top: 0;
  margin-bottom: 20px;
  color: #fff;
  font-size: 200%;
}

h2 {
  font-size: 160%;
  word-spacing: 2px;
  text-align: center;
  margin-bottom: 30px;
  text-transform: uppercase;
  color:#0C2252;
  font-family:papyrus;
}

h3{
  font-size: 110%;
  margin-bottom: 15px;
  color:#0C2252;
  font-weight: 400;
}

h2:after{
  display: block;
  height: 2px;
  background-color:#BB253D;
  content: " ";
  width:100px;
  margin: 0 auto;
  margin-top: 30px;
}

/* ------ PARAGRAPHS -------- */

.long-copy {
  line-height: 145%;
  width:70%;
  margin-left:15%;
  margin-right:15%;
  text-align: justify;
}

.hero-text-box {
  position: absolute;
  width: 940px;
  top:90%;
  left:75%;
  transform: translate(-50%, -50%);
}

.group-mobile{
  display: none;
  position: absolute;
  top:40%;
  left:54%;
  transform: translate(-50%, -50%);
}

.group {
  position: absolute;
  width: 1140px;
  top:43%;
  left:65%;
  transform: translate(-50%, -50%);
}

.group-logo {
  height:200px;
}

.logo {
  height: 40px;
  width: auto;
  float:left;
  margin-top: 20px;
}

.main-nav{
  float: right;
  list-style: none;
  margin-top: 20px;
}

.main-nav li{
  display: inline-block;
  margin-left: 40px;
}

.main-nav li a:link,
.main-nav li a:visited{
  padding: 8px 0px ;
  text-decoration: none;
  color: #fff;
  font-size: 70%;
  text-transform: uppercase;
  border-bottom: 2px solid transparent;
  transition: border-bottom 0.2s;
}

.main-nav li a:hover,
.main-nav li a:active{
  border-bottom: 2px solid #0B1F52;
}

/* Mobile navi */
.mobile-nav-icon {
  float: right;
  margin-top: 30px;
  cursor: pointer;
  display: none;
  background-color: rgba(255, 255, 255, 0.98);
 
}

.mobile-nav-icon i {
  font-size: 200%;
  color: #fff;
}

.ion-navicon-round{
  display: none;
}

.logo-black { 
  display:none;
}
/* Sticky navi */
.sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.98);
  box-shadow: 0 2px 2px #efefef;
  z-index: 9999;
}

.sticky .main-nav { margin-top: 18px; }

.sticky .main-nav li a:link,
.sticky .main-nav li a:visited {
  padding: 15px 0;
  color: #555;
}

.sticky .logo { display: none; }
.sticky .logo-black { 
  display: block; 
  height: 45px;
  width: auto;
  float:left;
  margin: 5px 0;
}

/* ---------------- BUTTONS ----------------*/
.btn:link,
.btn:visited {
  display: inline-block;
  padding: 10px 30px;
  font-weight: 300;
  text-decoration: none;
  border-radius: 200px;
  transition: background-color 0.2s, border 0.2s, color 0.2s;
 
}

.btn-full:link,
.btn-full:visited{
  color:#fff;
  background-color: #0B1F52;
  border: 1px solid #0B1F52;
  margin-right: 15px;
}

.btn-ghost:link,
.btn-ghost:visited{
  border: 1px solid  #0B1F52;
  color:#0B1F52;
}

.btn:hover,
.btn:active {
  background-color:#133385;
  color:#fff;
}

.btn-full:hover,
.btn-full:active{
  background-color:#133385;
  color:#fff;
}

.btn-ghost:hover,
.btn-ghost:active{
  background-color:#133385;
  color:#fff;
}

/* ----------------------------------------------- */
/* TEAM */
/* ----------------------------------------------- */

.section-team {
  padding: 0;
  margin-bottom:20px;
  margin-top:50px;
}

.team-showcase {
  list-style: none;
  width: 100%;
}

.team-showcase li {
  display: block;
  float: left;
  width: 25%;
}

.team-photo {
  width: 100%;
  margin: 0;
  overflow: hidden;
  background-color: #000;
}

.team-photo img {
  opacity: 0.7;
  width: 100%;
  height: auto;
  -webkit-transform: scale(1.15);
  -ms-transform: scale(1.15);
  transform: scale(1.15);
  -webkit-transition: -webkit-transform 0.5s, opacity 0.5s;
  transition: transform 0.5s, opacity 0.5s;
}

.team-photo img:hover {
  opacity: 1;
  -webkit-transform: scale(1.03);
  -ms-transform: scale(1.03);
  transform: scale(1.03);
}


/* ------- Footer ------- */

footer {
  background-color: #333;
}

.footer-nav {
  list-style: none;
  float: left;
}

.social-icons {
  list-style: none;
  float:right;
}

.footer-nav li{
  display: inline-block;
  margin-right: 20px;

}

.footer-nav li:last-child,
.social-links li:last-child {
    margin-right: 0;
}

.footer-nav li a:link,
.footer-nav li a:visited, 
.social-links li a:link,
.social-links li a:visited {
    text-decoration: none;
    border: 0;
    color: #888;
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
}

.footer-nav li a:hover,
.footer-nav li a:active {
    color: #ddd;
}

footer p {
  color: #888;
  text-align: center;
  margin-top: 20px;
}



/* honeycomb */

.image-gallery-container ul{
  list-style: none;
  display:table;
  margin:auto
}

.image-gallery-container ul:not(:firstchild){
  margin-top: -70px;
}

.image-gallery-container ul li{
  float:left;
  
}

.image-gallery-container ul li .bg-image{
  margin:15px;
  width:80px;
  height:120px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position:center;
  filter: grayscale(100%);
  transition: all .6s ease-in-out; 
 }

.image-gallery-container ul {
  animation:r 4s forwards;
} 


@keyframes r {
  from {transform:rotate(180deg)}
  to {transform:rotate(0)}
}

.image-gallery-container li, li-gallery-animate {
  animation:ir 4s forwards;
} 

@keyframes ir {
  from {transform:rotate(-360deg)}
  to {transform:rotate(0)}
}

.hc-details{
  z-index: 999;
}

#hiddenDiv {
  display: none;
  background-color:white;
  padding: 20px;
  font-size: 60%;
  background-color:#0B1F52;
  color:white;
  width: 288px;
  height:200px;
  border-radius: 20px;;
}



.hide{
  display: none;
}

.section-features,.section-team {
  height:100vh;

}

.image-gallery-container ul li:hover {
  transform: scale(1.5); 
}

 #aravind a:hover img {
   
  transform: scale(1.5);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}


/* ------ FOOT PRINTS -------------- */

.fc-left3 {
  margin-right: 19%;
}

.fc-right3 {
  margin-left: 19%;
}

.fc-left2 {
  margin-right: 22%;
}

.fc-right2 {
  margin-left: 22%;
}

.fc-left1 {
  margin-right: 22%;
}

.fc-right1 {
  margin-left: 22%;
}
.section-footprints{
  height: 100vh;
  background-color: #0C1A3D;
 
}

.footprints-header {
  color: white;
}

.footprint-container{
  display:flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 100%;
  height:80px;

}

.footprint-right{
  margin-left: 25px;
}

.footprint-left{
  margin-right: 25px;
}
.footprint-details li{
  list-style: none;
  font-size: 70%;
}
.line, .line-left {
	border-top: 1px solid white;
	padding-top:0px;
	padding-bottom: 0px;
  margin:0 10px;
	width: 3%;
	position: relative;
}

.line-left:before{
	content: "";
	width: 10px;
  height: 10px;
	background: white;
	border-radius: 5px;
	position: absolute;
	top: -6px;
}

.line:before {
	right: 0;
}

 .line:after {
	content: "";
	width: 10px;
  height: 10px;
	background: white;
	border-radius: 5px;
	position: absolute;
	top: -6px;
}

.line:after {
	right: 0;
}

.footprint-details,.footprint-right,.footprint-left, .line,.line-left {
  opacity: 0;
  animation-name: fadeIn;
  animation-duration: 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;

}

.footprint{
  width:90px;
}

.footprint img, .footprint img{
  height:80px;
  opacity: 0;
  animation-name: fadeIn;
  animation-duration: 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  
 }

.left3 > img, .left3 {
  animation-delay: 4s;
}

.right3 > img, .right3  {
  animation-delay: 3s;
}



.left2 > img, .left2  {
  animation-delay: 6s;
}

.right2 > img, .right2 {
  animation-delay: 5s;
}



.left1 > img, .left1 {
  animation-delay: 8s;
}

.right1 > img,.right1 {
  animation-delay: 7s;
}



@keyframes fadeIn {
  from {
    opacity: 0;
  }
  
  to {
    opacity: 1;
  }
}

/* -------- END OF FOOT PRINTS ------------- */

/* -------- ASIA SPECIFIC ------------------ */

.section-asia{
  height: 100vh;
  background-color:#F5F3F4;
}

#asia-container {
  display: flex;
  justify-content: center;
}

#asia-container > img{
  height:600px;
  
}


/* -------- END OF ASIA SPECIFIC ------------------ */

/* ------- AGILE --------------*/

.section-agile{
  height: 100vh;
  background-color: #B3414F;
}

.agile-container{
  display: flex;
  justify-content:center;
  align-items: center;

}

.agile-container > img{
  height:400px;
}

#agileHiddenDiv li{
 list-style: none;
}

.li-black {
  color: black;
}

.li-white {
  color: white;
}

#agileHiddenDiv {

  display: none;
  background-color:white;
  padding: 20px;
  font-size: 60%;
  background-color:#0B1F52;
  color:white;
  width: 200px;
  height:100px;
  border-radius: 10px;;

}
/* -------- END OF AGILE -------------------*/


.advisory-container{
  margin-left: 25%;
}

.tabs-container {
  display: flex;
  justify-content:flex-start;
  align-items: center;
  

}

.inner-tab {
  width:200px;
  padding: 20px;
  text-align: center;
  font-size:80%;
  border: 1px solid #F2F2F2;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  cursor: pointer;
}

.tab-detail {
  width: 80%;
  border: 1px solid #F2F2F2;
  text-align:center;
  background-color:#F2F2F2;
}

.active {
  background-color:#F2F2F2;
}

.hide{
  display:none;
}

/*--------- Map and stats -----------*/


.map-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.map {
  width: 100%;
}

.pointer {
  position: absolute;
  height: 10%;
  transition: all .5s ease-in-out;
}

.fit {
  width: 55%;
  text-align: center;
}

.pointer-container {
  position: relative;
}

.pointer-amer {
  left: 18%;
  top: 25%;
}

.pointer-emea {
  left: 52%;
  top: 10%;
}

.pointer-india {
  left: 70.5%;
  top: 35%;
}

.pointer-asia {
  left: 77%;
  top: 29%;
}

.pointer-anz {
  left: 92%;
  top: 75%;
}


.region-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  padding: 5px;
  line-height: 1.8;
}

.region-text {
  font-size: 14px;
  font-weight: bolder;
}

.region-label {
  margin-left: 3%;
  margin-top: 3%;
  position: absolute;
  font-size: 14px;
  font-family: sans-serif;
  font-weight: 600;
  color: #0b1f52;
}

.breakdown-header {
  margin-bottom: 75px;
  color: rgb(11, 31, 82);
  font-family: inherit;
  font-weight: bold;
}

.hidden-region {
  background-color: #0B1F52;
  color: white;
}

.map-footer {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 225px;
  font-size: 14px;
  line-height: 1.8;
}


.stats-container {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 100px;
}

.stats-chart-container {
  display: flex;
  justify-content: space-evenly;
  width: 90%;
  flex-wrap: wrap;
}

.chart-label {
  font-size: 16px;
  font-weight: bold;
  color: #0B1F52;
  margin-top: 30px;
  font-family: sans-serif;
}

.chart-border {
  border: 1px solid #0B1F52;
  background-color: #f3f2f2;
  padding: 20px;
}

.stats-custom-legend {
  font-size: 14px;
  font-weight: bold;
  font-family: sans-serif;
  color: #666666;
}

.stats-legend-placement {
  position: absolute;
  top: 10%;
  right: 5%;
}


.stats-chart {
  position: relative;
  width: 38 kw;
}

.container-section-map {
  height: 100%;
  display: flex;
  align-items: center;
}

.container-section-chart {
  height: :100vh;
}